@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body, html {
    height: 100%;
    margin: 0;
    /* background-image: url("what-the-hex-dark.png"); */
    background-image: url("stardust.png");
}

h1 {
  margin: 0;
  padding-top: 40vh;
  padding-left: 8vh;
  padding-right: 8vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
  vertical-align: center;
}

h2, p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-left: 20%;
  padding-top: 2em;
  max-width: 12.5em;
}

h2 {
  padding-top: 40vh;
}

.fullpage {

    /* Full height */
    height: 80%;
    margin-bottom: 2%;
    /* Center and scale the image nicely */
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: contain;
}

#Yun {
  /* The image used */
  background-image: url("Mullets/Yun.jpg");

}
#Boriss {
  /* The image used */
  background-image: url("Mullets/Boriss.jpg");
}
#Heald {
  /* The image used */
  background-image: url("Mullets/Heald.jpg");
}
#Jordan {
  /* The image used */
  background-image: url("Mullets/Jordan.jpg");
}
#Witt {
  /* The image used */
  background-image: url("Mullets/Witt.jpg");
}
#Krikorian {
  /* The image used */
  background-image: url("Mullets/Krikorian.jpg");
}
#Rickards {
  /* The image used */
  background-image: url("Mullets/Rickards.jpg");
}
#Rogers {
  /* The image used */
  background-image: url("Mullets/Rogers.jpg");
}
#Wilde {
  /* The image used */
  background-image: url("Mullets/Wilde.jpg");
}
#Morse {
  /* The image used */
  background-image: url("Mullets/Morse.jpg");
}
